
<div class="container-fluid" style="background-color:whitesmoke;">
    <div class="row">
        <div class="col-md-7" >
                <div class="row">
                        <div class="col-md-9" >
                                <h1>Desayuno</h1>
                        </div>
                        <div class="col-md-3" >
                            <div style="margin-top:20px;">
                                    <a href="#">Bebestible</a>&nbsp;
                                    <a href="#">Comida</a>
                            </div>
                        </div>
                </div>
        </div>
        <div class="col-md-5" style="background-color: darkgrey;" >
            <div class="row">
                <div class="col-md-7" >
                        <div style="margin-top:8px;">
                                <input type="text" class="form-control mb-2" id="inlineFormInput" style="width: 300px;">
                        </div>
                </div>
                <div class="col-md-5" >
                        <div class="row">
                                <div class="col-md-7" >
                                        <div style="margin-top:8px;">
                                                <label>#mesa</label>
                                        </div>
                                </div>
                                <div class="col-md-3" >
                                        <div style="margin-top:8px;">
                                                <select class="form-control" id="exampleFormControlSelect1" style="width: 30px;">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                </select>
                                        </div>
                                </div>
                        </div>
                </div>
            </div>

            
                
        </div>
    </div>
</div>