.container-fluid{
    background-color:whitesmoke;
}

#imagen{
    padding: 10px;
}

#botones-nav{
    padding: 10px; 
    padding-left: 20px;
}

#input-nav{
    padding: 10px;
    padding-left: 200px;
}

#mail{
    width:120px; 
    display:inline-block;
}