<div class="container-fluid" style="background-color:floralwhite;">
    <div class="row">
        <div class="col-md-1" style="padding: 10px;">
           
        </div>

        <div class="col-md-3" style="padding: 10px;">
            <img src="https://image.flaticon.com/icons/png/512/384/384265.png" width="52px" height="52px">
        </div>

        <div class="col-md-3" style="padding: 10px; padding-left: 20px;">
            <button type="button" class="btn btn-outline-danger">Desayuno</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-danger">Almuerzo</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-success">Pedidos</button>&nbsp;&nbsp;
        </div>

        <div class="col-md-5" style="padding: 10px;padding-left: 200px;">
            <input type="text" class="form-control" id="mail" placeholder="correo" style="width:120px; display:inline-block;">&nbsp;&nbsp;
            <input type="text" class="form-control" id="password" placeholder="contraseña" style="width:120px;display:inline-block;">&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary">Acceder</button>
        </div>
    </div>
</div>