<div class="row">

    <div class="col left">
        <h1>Desayuno</h1>
        <hr>

        <div class="badges">
            <a href="#" class="badge badge-light">Bebestible</a>
            <a href="#" class="badge badge-light">Comida</a>
        </div>

        <hr>
        <h4>Bebestible</h4>

        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="/img/imagenes-de-productos/blank.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text"> $CLP ...</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 2</h5>
                        <p class="card-text">$CLP ...</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 3</h5>
                        <p class="card-text">$CLP ...</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <h4>Comida</h4>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text"> $CLP ...</p>
                    </div>
                </div>
            </div>
        </div>



    </div>


    <div class="col-4 right">

        <h4>Carta</h4>
        <hr>

        <div class="row 1">
            <div class="input">
                <input type="text" class="form-control" id="name" placeholder="Nombre cliente" style="width:200px; display:inline-block;">&nbsp;&nbsp;
            </div>

            <p># mesa</p> &nbsp;&nbsp;
            <div class="shift">
                <input id="shift" min="1" max="10" value="1" type="number" class="form-control" style="width:50px; display:inline-block;">
            </div>
        </div>

        <div class="row 2"></div>
        <hr>
        <div class="table-title">Productos agregados</div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">+/-</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>..</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>...</td>
                    <td>... </td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Total</th>
                    <th scope="col">...</th>
                    <th scope="col">$ CLP</th>
                    <th scope="col">...</th>
                </tr>
            </thead>
        </table>
        <hr>

        <div class="row 3">
            <div class="table-title">Comentario</div>
        </div>

        <div class="row 4">
            <div class="input">
                <input type="text" class="form-control" id="comment" style="width:400px; height:fit-content, max-width; display:inline-block;">&nbsp;&nbsp;
            </div>
        </div>

        <div class="row 4">
            <button class="btn btn-outline-primary" style="align-self:center">Enviar</button>
        </div>
    </div>
</div>
