img{
    max-height: 150px;
    max-width: 150px;
    align-self: center;
    bottom:   0;
    };
    
    .card-title{
    height: 70px;
    float: bottom;
    bottom:   0;
    }
    
    .card-text{
    float: bottom;
    }
    
    button{
        float: bottom; 
        position: absolute;
        right:    0;
        bottom:   0;
    };