<!-- <h1>Almuerzo></h1>
<hr>

<div class="card-columns">

    <div class="card animated fadeIn fast" *ngFor="let lunchb of lunch; let i = index">

        <div class="card-body">

            <h5 class="card-title">{{lunchb.item}}</h5>
            <img [src]="lunchb.img" class="card-img-top" [alt]="">
            <p class="card-text">{{ lunchb.price }}</p>


            <button (click)="verLunchb(i)" type="button" class="btn btn-outline-primary btn-block">Agregar</button>
           <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">Ver más link...</a> -->

<!-- </div>
</div>





</div>  -->
<div class="row">

    <div class="col left">
        <h1>Almuerzo</h1>
        <hr>

        <div class="badges">
            <a href="#" class="badge badge-light">Bebestible</a>
            <a href="#" class="badge badge-light">Comida</a>
        </div>

        <hr>
        <h4>Bebestible</h4>

        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" *ngFor="let lunchb of lunch; let i = index">
                <div class="card h-100">
                    <img src="{{lunchb.img}}" alt="..." class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title">{{lunchb.item}}</h6>

                        <p class="card-text"> $CLP {{lunchb.price}}</p>
                        <button (click)="verLunchb(i)" type="button" class="btn btn-outline-primary btn-block">Agregar</button>
                    </div>
                </div>
            </div>


        </div>
        <hr>





    </div>


    <div class="col-4 right">

        <h4>Carta</h4>
        <hr>

        <div class="row 1">
            <div class="input">
                <input type="text" class="form-control" id="name" placeholder="Nombre cliente" style="width:200px; display:inline-block;">&nbsp;&nbsp;
            </div>

            <p># mesa</p> &nbsp;&nbsp;
            <div class="shift">
                <input id="shift" min="1" max="10" value="1" type="number" class="form-control" style="width:50px; display:inline-block;">
            </div>
        </div>

        <div class="row 2"></div>
        <hr>
        <div class="table-title">Productos agregados</div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">+/-</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>..</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>...</td>
                    <td>... </td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Total</th>
                    <th scope="col">...</th>
                    <th scope="col">$ CLP</th>
                    <th scope="col">...</th>
                </tr>
            </thead>
        </table>
        <hr>

        <div class="row 3">
            <div class="table-title">Comentario</div>
        </div>

        <div class="row 4">
            <div class="input">
                <input type="text" class="form-control" id="comment" style="width:400px; height:fit-content, max-width; display:inline-block;">&nbsp;&nbsp;
            </div>
        </div>

        <div class="row 4">
            <button class="btn btn-outline-primary" style="align-self:center">Enviar</button>
        </div>
    </div>
</div>